:root{
    --cor-apresentacao: rgba(86, 113, 161, 0.87);
    --cor-bloco: rgba(160, 151, 139, 0.418);
    --cor-bloco2: rgba(82, 116, 129, 0.548);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    max-width: 100%;
    height: auto;
    border-radius: 15%;
}
/*Cores e fonte*/
.corApresentacao{color: var(--cor--apresentacao)}

.flex{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.espacamento_sup_inf{
    margin-top: 5%;
    margin-bottom: 5%;
}

.espacamento_lateral{
    margin-left: 10%;
    margin-right: 10%;
}
.bloco{
    background-color: var(--cor-bloco);
    padding: 20px;
}
.bloco2{
    background-color: var(--cor-bloco2);
    padding: 10px;
}
.bloco3{
    background-color: var(--cor-bloco);
    padding: 15px;
}
/*APRESENTAÇÃO*/
.espacamentoTituloApresentacao{
    margin-top: 300px;
    margin-bottom: 50px;
    text-align: center;

}
.espacamentoTexto{
    text-align: center;
}
/*QUALIFICAÇÃO*/
.espacamentoTituloQualificacao{
    margin-top: 300px;
    margin-bottom: 50px;
    text-align: center;
}
.flexQualificacao{
    display: flex;
    gap: 20px;
    margin-bottom: 150px;
}
/*FORMAÇÃO ACADEMICA*/
.flexFormacacao{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
/*CURSOS*/
.flexCursos{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
.espacamentoCursos{
    margin-top: 80px;
    margin-bottom: 50px;

}
